<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../designs/common.css">
    <link rel="stylesheet" href="../designs/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm" action="submitForm()">
            <div class="flex-column">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter Username" required>
            </div>
            <div class="flex-column">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter Password" required>
            </div>
            <div class="flex-column">
                <label for="type">User Type</label>
                <select id="userType">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div class="flex-row">
                <button type="submit" id="submitButton">Login</button>
            </div>
        </form>
        <div id="loading" style="display: none;">
            <progress id="progressBar" max="100" value="0"></progress>
            <span>Loading...</span>
        </div>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>
