<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu 3</title>
    <link rel="stylesheet" href="../designs/common.css">
    <link rel="stylesheet" href="../designs/menu3.css">
</head>
<body>
    <!-- Navigation Menu -->
    <div class="menu-container">
        <nav class="menu-bar">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="#">Master</a>
                    <ul class="submenu">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Supplier</a></li>
                        <li><a href="#">Customer</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Transaction</a>
                    <ul class="submenu">
                        <li><a href="#">Purchase Entry</a></li>
                        <li><a href="#">Order Entry</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Statement</a>
                    <ul class="submenu">
                        <li><a href="#">Profit & Loss</a></li>
                        <li><a href="#">Cash Statement</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Report</a>
                    <ul class="submenu">
                        <li><a href="#">Ledger Creation</a></li>
                        <li><a href="#">Customer Statement</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Tools</a>
                    <ul class="submenu">
                        <li><a href="#">Backup</a></li>
                        <li><a href="#">Calendar</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Exit</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Status Bar -->
    <div class="status-bar">
        <div id="status-time" class="status-item"></div>
        <div id="status-date" class="status-item"></div>
        <div id="status-showtime" class="status-item"></div>
    </div>

    <script src="../scripts/menu3.js"></script>
</body>
</html>
